{
	frankenphp
}

:80 {
	# C'est ici qu'on dit à Caddy de regarder dans le dossier public
	root * public/
	
	# Active la compression pour que le site soit plus rapide
	encode zstd gzip
	
	# Servir les fichiers uploads directement (avant PHP)
	@uploads {
		path /uploads/*
	}
	file_server @uploads
	
	# Active le serveur PHP pour le reste
	php_server
}